$primary-color: #31C48D;
$secondary-color: #fff;
$border-radius: 20px;

.hamburger{
  color: white;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #31C48D;

  nav{
    color: white;
    text-decoration: none;
    
    .navbar-brand{
      display: flex;

      .nav-logo {
        width: 200px;
        height: 150px;
        object-fit: cover;
        margin-right: 10px;
      }
    }

  }
}

// Header styling

#nav-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 40px;
}

 






// Listings page
.post-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  }
}

.listing-media {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.post-header,
.post-content {
  padding: 20px;
}

.seller-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.seller {
  font-size: 18px;
  color: #666;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.highestBid
 {
  font-size: 16px;
  margin-bottom: 10px;
}

.endDate{
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
  background-color: #31C48D;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
}




// Single listing styling


#listing-info {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;

}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.seller-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.singel-listing-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.single-description {
  margin-bottom: 20px;
}

.highestBid, .endDate {
  font-size: 18px;
  margin-bottom: 10px;
}

.bid-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.bid-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bid-button:hover {
  background-color: #218838;
}

#media-container {
  margin-top: 20px;
}

.image-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.post-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.next-image-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-image-button:hover {
  background-color: #0069d9;
}

#bidders {
  margin-top: 40px;
}

.bid-div {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  }
}

.bid-user {
  margin: 0;
  font-weight: 600;
  color: #333;
}

// profil stling


.container{
 
 
    .profile-avatar{
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 200px;
      margin-top: 20px;
    }
    

  
      
      #btn-edit-avatar{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
    }

  #profile-info{
    display: flex;
    justify-content: center;
    width: 100%;

    .profile-name{
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 50px;
    }
  }

